@media (max-width: 768px){
    nav {
        width: 100%;
        left: -100%;
        transition: 0.5s;
    }
    .nav_active {
        left: 0;
        transition: 0.5s;
    }
    main {
        padding: 80px 16px 0 16px;
    }
    .hamburger {
        display: block;
    }
}