html{
    scroll-behavior: smooth;
}
nav{
    width: 200px;
    height: 100%;
    background-color: #45015d;
    border-radius: 0 10px 0 0;
    padding: 30px 10px 10px 10px;
    position: fixed;
    z-index: 9;
}
nav h3{
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
nav a{
    color: white;
    display: block; 
    padding: 10px;  
    font-size: 16px;
    transition: 0.5s;
}
nav a:hover{
    color: #45015d;
    background-color: white;
}
body{
    height: 3000px;
}
h1{
    font-size: 64px;
    margin-bottom: 48px;
}
main{
    padding: 80px 40px 0 360px;
}
h2{
    font-size: 48px;
    color: #45015d;
    font-weight: 400;
    margin-bottom: 32px;
}
hr{
    width: 100%;
    height: 10px;
    background-color: #45015d;
    border-radius: 10px;
    margin-bottom: 24px;
}
.showcase__box img{
    width: 45%;
    margin: 5px;
    border-radius: 10px;
    opacity: 0.6;
    transition: 0.5s;
    min-width: 280px    ;
}
.showcase__box{
    text-align: center;
}
.showcase__box img:hover{
    opacity: 1;
}
section{
    padding: 32px 0 32px 0;
}
p{
    line-height: 150%;
    font-size: 16px;
}
.designers__item{
    width: 30%;
    display: inline-block;
    min-width: 280px;
    margin-bottom: 16px;
}
.designers__item img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 8px;
}
.designers__info{
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 16px 8px 16px 8px;
    text-align: left;
}
.designers__info h3{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 14px;
}
.designers__info span{
    color: gray;
    font-size: 15px;
    margin-bottom: 14px;
    display: inline-block;
}
.designers__info p{
    font-size: 16px;
}
.designers__list{
    text-align: center;
    margin-top: 32px;
}
.pacage__list ul{
    width: 45%;
    background-color: #e7e7e7;
    border-radius: 10px;
    display: inline-block;
    min-width: 270px;
    margin-bottom: 16px;
}
.pacage__list li{
    border-bottom: 1px solid gray;
    border-radius: 6px;
    padding: 16px 0 16px 0;
    text-align: center;
}
.pacage__list .name{
    background-color: #45015d;
    color: white;
    font-size: 20px;
    padding: 20px 0 20px 0;
}
.pacage__list .cost{
    font-size:  18px;
}
.pacage__list .cost span{
    display: block;
    color: gray;
}
.pacage__list button{
    background-color: #45015d;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 8px 16px 8px 16px;
    border: 2px solid #45015d;
    transition: 00.5s;
}
.pacage__list button:hover{
    color: #45015d;
    background-color: #e7e7e7;
}
.pacage__list{
    text-align: center;
    margin-top: 32px;
}
input, textarea{
    border: 1px #45015d solid;
    border-radius: 10px;
    padding: 8px 16px 8px 16px ;
    width: 100%;
    font-size: 20px;
    transition: 0.5s;
    margin-bottom: 16px;
    resize: none;
}
label{
    margin-bottom: 8px;
    display: inline-block;
}
.contact p{
    margin-bottom: 32px;
}
input:focus, textarea:focus{
    box-shadow: 0 0 16px #45015d ;
}
.contact button{
    background-color: #45015d;
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 8px 16px 8px 16px;
    transition: 00.5s;
    border: #45015d 1px solid;
    font-size: 24px;
}
.contact button:hover {
    background-color: white;
    color: #45015d;
}
footer{
    background-color: #45015d;
    color: white;
    padding: 32px 16px 32px 16px;
    z-index: 10;
    position: relative;
    border-radius:10px 10px 0 0;
}
.hamburger{
    width: 40px;
    height: 20px;
    position: fixed;
    background: transparent;
    top: 32px;
    left: 16px;
    z-index: 15;
    display: none;
}
.hamburger span{
    position: absolute;
    width: 40px;
    height: 2px;
    background: #45015d;
    left: 0;
    box-shadow: 0 0 16px 5px white  ;
    transition: 000.5s;
}
.hamburger span:nth-child(1){
    top: 0;
}
.hamburger span:nth-child(2){
    top: 9px;
}
.hamburger span:nth-child(3){
    bottom: 0;
}
.hamburger_active span:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
}
.hamburger_active span:nth-child(2) {
    opacity: 0;
}
.hamburger_active span:nth-child(3) {
    bottom: 9px;
    transform: rotate(-45deg);
}